.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
.git
backend/**/__pycache__
backend/**/*.pyc
backend/.venv
backend/poetry.lock
frontend/node_modules
frontend/src
frontend/public
webview/node_modules
webview/src
